[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mappingAS"]
	path = mappingAS
	url = https://github.com/lucasbarreirageo/mappingas
